

{% block head %}
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/registro.css') }}">
{% endblock head %}

{% block content %}
    <div class="box">
        <h1>ACAD<br>PLANNER</h1>

        <p>SUA AGENDA ACADÊMICA.<br>
        ANOTE DATAS. NÃO PERCA PRAZOS. SEJA RESPONSÁVEL.</p>
    </div>
    <div class="caixa">
        <p class="titulo">Registro</p>
        <img src="{{ url_for('static', filename='images/caixa.png') }}"  class="imagem">
        <form action="{{ url_for('auth.register')}}" method="post" class="formulario">
            
            <input type="text" name="name" placeholder="Nome e Sobrenome" required>

            
            <input type="text" name="username" placeholder="Nome de Usuário" required>

           
            <input type="email" name="email" placeholder="Email" required>

            
            <input type="password" name="password" placeholder="Senha" required>

            <button class="btn">Enviar</button>
        </form>
    </div>
{% endblock content %}